body {
    font-family: Arial, sans-serif;
}

h1 {
    margin: 20px;
    font-size: 40px;
}

.form,
.filtro {
    width: 40%;
    margin: 20px;
}

.filtro {
    display: flex;
    gap: 30px;
    align-items: flex-end;
}

.filtro button {
    margin-bottom: 15px;
}

label,
input {
    display: block;
}

label {
    margin-bottom: 5px;
}
input {
    width: 100%;
    height: 30px;
    padding-inline-start: 10px;
    margin-bottom: 15px;
}

button {
    display: block;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.mensagens {
    color: red;
    font-size: 14px;
    padding: 0;
    margin: 20px;
}

table {
    width: 90%;
    margin: 20px auto;
    /* border-collapse: collapse; */
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 50%;
}

th {
    background-color: #eeeeee;
}
